# 11.1

In [ ]:
import zoo
zoo.hours()

# 11.2

In [ ]:
import zoo as menagerie
menagerie.hours()

# 16.8

#### Note: This part includes actions from 16.3 and 16.4, due to the relationship of 16.8 to those exercises.

In [1]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books 
             (title VARCHAR, 
              author VARCHAR, 
              year INT)''')

In [4]:
curs.execute('DELETE FROM books')
curs.execute('INSERT INTO books VALUES ("The Weirdstone of Brisingamen", "Alan Garner", 1960)')
curs.execute('INSERT INTO books VALUES ("Perdido Street Station", "China Mi√©ville", 2000)')
curs.execute('INSERT INTO books VALUES ("Thud", "Terry Pratchett", 2005)')
curs.execute('INSERT INTO books VALUES ("The Spellman Files", "Lisa Lutz", 2007)')
curs.execute('INSERT INTO books VALUES ("Small Gods", "Terry Pratchett", 1992)')
curs.execute('SELECT title FROM books ORDER BY title')
curs.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud',)]